#header{
   -fx-background-color: #5F50F1;
    -fx-text-fill: #fff;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-weight: Bold;
    -fx-font-size: 18px;
}
#goback{
    -fx-background-radius: 50px;
    -fx-border-color: #5F50F1;
    -fx-border-radius: 50px;
}

.table-view .column-header, .table-view .filler{
    -fx-size: 40;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: #5F50F1;
}
.table-view .column-header .label{
    -fx-text-fill: #fff;
    -fx-text-alignment: center;
}