#header{
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: #5F50F1;
    -fx-text-fill: #fff;
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, #48cae4,3,1,1,0);
    -fx-font-family: Arial;
}

.button-admin{
    -fx-background-color: transparent;

}
.button-admin:hover {
    -fx-effect: dropshadow(three-pass-box, #5F50F1,10,0,0,0);
}

.table-view{
    -fx-effect: dropshadow(three-pass-box, #111,10,0,0,0);
}
.table-view .column-header, .table-view .filler{
    -fx-size: 45;
    -fx-background-color: #5F50F1;
    -fx-alignment: center;
}
.table-view .column-header .label{
    -fx-text-fill: #fff;
    -fx-text-alignment: center;
}

.title-form {
    -fx-background-color: linear-gradient(to left, #acb6e5, #86fde8);
    -fx-text-fill: #333;
    -fx-font-weight: 900;
    -fx-padding: 4px 8px;
    -fx-border: solid;
    -fx-background-radius: 6px;
    -fx-alignment: center;
}

.btn-confirm {
    -fx-effect: dropshadow(three-pass-box, #111,5,0,4,2);
}

.txt-field-input {
    -fx-background-radius: 12px;
}

.btn-confirm,
.label-form {
    -fx-font-weight: 900;
    -fx-background-color: linear-gradient(from 0px 0px to 50px 100px, #f7971e, #ffd200);;
    -fx-padding: 4px 8px;
    -fx-text-fill: #fff;
    -fx-border: solid;
    -fx-background-radius: 6px;
}

.btn-confirm:hover {
    -fx-background-color: linear-gradient(from 0px 0px to 50px 100px, #ff6b6b, #556270);
}