#header{
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: #5F50F1;
    -fx-text-fill: #fff;
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, #48cae4,3,1,1,0);
    -fx-font-family: Arial;
}
.labelHello{
    -fx-border-radius: 10;
    -fx-text-fill: #fff;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, #5f50F1,5,4,0,0);
}
.labelUserName{
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #111,3,1,0,0);
    -fx-text-fill: #fff;
}
.button-admin{
    -fx-background-color: transparent;

}
.button-admin:hover{
    -fx-effect: dropshadow(three-pass-box, #5F50F1,10,0,0,0);
}
.button-bc{
    -fx-background-color: transparent;
}
.button-bc:hover{
    -fx-opacity: 0.8;
}